@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    text-decoration: none;
}

header {
    width: 100%;
    height: 48vh;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10%;
    background: #2C2C2C;
    container-name: nav;
    container-type: inline-size;
}

nav > img {
    width: 100px;
    height: 50px;
    object-fit: cover;
    -webkit-user-drag: none;
    cursor: pointer;
}

nav .menu {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    user-select: none;
    cursor: pointer;
    display: none;
}

nav .links {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.links .close {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    user-select: none;
    cursor: pointer;
    display: none;
}

.links a {
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-style: oblique;
    user-select: none;
    transition: color 200ms;
}

.links a:hover {
    color: #FF6309;
}

@container nav (width <= 500px) {
    nav .menu {
        display: block;
        order: 2;
    }

    .links .close {
        position: absolute;
        top: 20px;
        right: 55px;
        display: block;
    }

    nav .links {
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        background: #000;
        flex-direction: column;
        gap: 50px;
        transition: right 250ms;
    }
}

nav .search {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search input {
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    border: none;
}

.search label {
    user-select: none;
    cursor: pointer;
    color: #fff;
}

/* header */

header {
    padding: 10px 10%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

header .texts {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.texts p {
    letter-spacing: 1px;
    color: #fff;
}

.texts p:first-child {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    font-style: oblique;
}

.texts p:nth-child(2) {
    width: 100%;
}

.texts button {
    width: 65%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #FF6309;
    cursor: pointer;
    transition: background 250ms;
}

.texts button:hover {
    background: #b44505;
}


/* dance tour */

.box {
    width: 100%;
    padding: 50px 10%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/dance-tour.png) top left / cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 1px;
    color: #fff;
}

.box p:first-child {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.box p:nth-child(2) {
    width: 70%;
    text-align: center;
}

.box .items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.items li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    background: #2C2C2C;
}

li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
}

li p:nth-child(2) {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
}

li p:nth-child(3) {
    text-align: center;
    font-size: .7rem;
    font-weight: 300;

}

/* modifying price section */

.box.price {
    background-image: url(../img/pricing-bg.png);
}

.box.price li {
    background: #FF6309;
    padding: 10px;
    cursor: auto;
}

.box.price img {
    width: 100px;
    height: 120px;
    object-fit:fill;
}

li button {
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    background: #2C2C2C;
}

li button:hover {
    background: #111010;
}

/* trainers review */

.trainers {
    width: 100%;
    padding: 0 10%;
}

.trainers .skill {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.skill img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.skill div {
    background: url(../img/dance-tour.png) center / cover;
    padding: 10px 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    color: #fff;
}

.skill p:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;

}

.skill p:nth-child(2) {
    font-size: .8rem;
    font-weight: 400;
}

.skill button {
    width: 80%;
    height: 35px;
    outline: none;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
    background: #2C2C2C;
}


/* statistics */

.statistics {
    width: 100%;
    background: #2C2C2C;
    text-align: center;
    padding: 50px 10%;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.statistics .items {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.statistics > p:nth-child(1) {
    font-size: 2rem;
    text-transform: capitalize;
}

.statistics > p:nth-child(2) {
    width: 80%;
    font-weight: 400;
}

.statistics li {
    width: 100%;
    padding: 20px;
}

.statistics :not(.statistics > p) p:nth-child(1) {
    font-size: 2rem;
}

.statistics :not(.statistics > p) p:nth-child(2) {
    font-size: .8rem;
}


/* herbert */

.herbert {
    width: 100%;
    height: 50vh;
    padding: 50px 10%;
    background: linear-gradient(rgba(253, 95, 4, 0.6), rgba(253, 95, 4, 0.6)), url(../img/dance-3.png) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    color: #fff;
}

.herbert p:first-child {
    width: 80%;
    text-align: center;
    font-size: 1.2rem;
}

.herbert p:last-child {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* subscribe */

.subscribe {
    width: 100%;
    height: 50vh;
    padding: 50px 10%;
    background: url(/img/dance-tour.png) center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.subscribe p:first-child {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.subscribe p:nth-child(2) {
    width: 80%;
}

.subscribe .inp {
    /* outline: 1px solid; */
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inp input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
}

.inp label {
    padding: 5px;
    color: #fff;
    background: #2C2C2C;
    cursor: pointer;
    font-size: 1.3rem;
    text-transform: capitalize;
    user-select: none;
    border-radius: 0 5px 5px 0;
}


/* footer */

footer {
    width: 100%;
    background: #2C2C2C;
    padding: 100px 10%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 10px;
}

footer .column {
    /* outline: 1px solid; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    color: #ffffff;
    flex-direction: column;
}

.column a {
    color: #fff;
}

footer .column:first-child {
    max-width: 350px;
    width: 100%;
}

.column p:first-child,
.column a:first-child {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}